---
import Layout from "../components/layout.astro";
import ButtonSuscribe from "../components/buttonSuscribe.vue";
---

<Layout pageTitle="Inicio">
  <h1>Página Inicial</h1>
  <p>Bienvenidos a mi página</p>
  <ButtonSuscribe client:only="vue"></ButtonSuscribe>
</Layout>